<div class="row" id="post_show">
  <div class="col-md-8 col-md-offset-2">
		<h1>Editing Dream</h1>

		<%= render 'form' %>
		
		<%= link_to 'Show', @dream, class:"btn btn-small btn-primary" %> |
		<%= link_to 'Back', dreams_path, class:"btn btn-small btn-primary" %>
		</div>
</div>
