<div class="row" id="dream_show">
	<div class="panel">
		<h1>New Dream</h1>

		<%= render 'form' %>
		<div class="col-md-6">
			<div class="btn-group pull-left">
				<%= link_to 'Back', dreams_path %>
			</div>

		</div>

	</div>
</div>