<footer class="footer">
  <small>
    The &#169;DreamBox by Fantastic 5
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>